<header class="header">
  <a routerLink="/" class="logo">ParkFlow</a>
  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Início</a>
    <a routerLink="/estacionamento/clientes" routerLinkActive="active">Clientes</a>
    <a routerLink="/estacionamento/estacionamentos" routerLinkActive="active">Estacionamentos</a>
    <a routerLink="/estacionamento/vagas" routerLinkActive="active">Vagas</a>
    <a routerLink="/estacionamento/veiculos" routerLinkActive="active">Veículos</a>
    <a routerLink="/estacionamento/movimentacoes" routerLinkActive="active">Movimentações</a>
    <a routerLink="/estacionamento/pagamentos" routerLinkActive="active">Pagamentos</a>
    <a routerLink="/estacionamento/tabela-preco" routerLinkActive="active">Preços</a>
    <a routerLink="/estacionamento/tipos-cliente" routerLinkActive="active">Tipos Cliente</a>
    <a routerLink="/estacionamento/tipos-veiculo" routerLinkActive="active">Tipos Veículo</a>
    <a routerLink="/estacionamento/tipos-vaga" routerLinkActive="active">Tipos Vaga</a>
  </nav>
</header>
